body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navl-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.text-orange {
    color: rgb(253, 110, 10);
}

.li-btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
}